<div class="container mt-5">
  <div style="text-align: center;">
    <img style="width: 600px;" src="../assets/imagenes/Logos/LOGO KIMBARA.png" alt="">
  </div>
  <div class="continer">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Servicios</h1>
      <p class="fs-5 text-muted">Algunos de nuestros servicios</p>
    </div>
  </div>
  <div class="continer">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h2 class="my-0 fw-normal">Bailoterapia</h2>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$2000<small class="text-muted fw-light">/Clase</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Horarios</li>
              <li>Lunes a Jueves</li>
              <li> 6:30pm - 7:30pm</li>
            </ul>
            <a href="https://wa.link/mlvsg8" class="w-100 btn btn-lg btn-outline-primary">Más Información</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h2 class="my-0 fw-normal">Clases Personalizadas</h2>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Precio<small class="text-muted fw-light">/A convenir</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Paquete personalizado de clases</li>
              <li>Baile social</li>
              <li>Clases a domicilio</li>
            </ul>
            <a href="https://wa.link/mlvsg8" class="w-100 btn btn-lg btn-outline-primary">Más Información</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3  ">
            <h2 class="my-0 fw-normal">Formación Baile Profesional</h2>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$45000<small class="text-muted fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>3 clases a la semana</li>
              <li>Para todo tipo de edades</li>
              <li>Niños/Jovenes/Adultos</li>
            </ul>
            <a href="https://wa.link/mlvsg8" class="w-100 btn btn-lg btn-primary">Más Información</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h2 class="my-0 fw-normal">Montajes Coreograficos</h2>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Precio<small class="text-muted fw-light">/A Convenir</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Vals de 15 años</li>
              <li>Vals para matromonios</li>
              <li>Acompañamiento en orquestas</li>
            </ul>
            <a href="https://wa.link/mlvsg8" class="w-100 btn btn-lg btn-outline-primary">Más Información</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h2 class="my-0 fw-normal">Shows de Baile</h2>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Precio<small class="text-muted fw-light">/A Convenir</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Show de una hora/ Todos los grupos</li>
              <li>Show por canciones</li>
              <li>Show Personalizado</li>
            </ul>
            <a href="https://wa.link/mlvsg8" class="w-100 btn btn-lg btn-outline-primary">Más Información</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h2 class="my-0 fw-normal">Hora loca</h2>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Desde $150000<small class="text-muted fw-light">/hora</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Musica de todos los generos</li>
              <li>Animación de la fiesta</li>
              <li>Accesorios Incluidos</li>
            </ul>
            <a  class="w-100 btn btn-lg btn-outline-primary" href="https://wa.link/mlvsg8">
              Más información</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <footer  id="footer" class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">

        <div class="col-6 col-md">
          <h5>Redes sociales</h5>
          <ul  class="list-unstyled text-small">
            <li><a class="text-muted" href="https://es-la.facebook.com/kimbaralatin/">
              <img style="width: 30px; height: 30px;" src="https://cdn-icons-png.flaticon.com/128/1384/1384005.png" alt=""></a></li>
            <li><a class="text-muted" href="https://www.instagram.com/kimbaralatin/?hl=es-la">
              <img  style="width: 30px; height: 30px;" src="https://cdn-icons-png.flaticon.com/128/1400/1400829.png" alt=""></a></li>
            <li><a class="text-muted" href="https://wa.link/mlvsg8">
              <img style="width: 30px; height: 30px;"src="https://image.flaticon.com/icons/png/128/1051/1051323.png" alt=""></a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Contactos</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" ></a>Correo: hecfa69@gmail.com</li>
            <li><a class="text-muted" ></a>Teléfono: 2830250.</li>
            <li><a class="text-muted" ></a>Celular:3154207109 - 3104485366 </li>
            <li><a class="text-muted" ></a>Direccion: Calle 36 # 21-17 2do piso.</li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Servicios</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href='/galeria' >Galeria de imagenes</a></li>
            <li><a class="text-muted" href='/servicios'>Servicios</a></li>
          </ul>
        </div>

      </div>
      </footer>
</div>
