
<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push">

      <mat-toolbar color="dark">
        <img  style="height: 90px; width:160px;" src="../../../assets/imagenes/Logos/kimbara corto.png" alt="">

      </mat-toolbar>
      <mat-nav-list>
          <a routerLink="./home" mat-list-item (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>home</mat-icon>
              <span>Inicio</span>
          </a>
          <a routerLink="./formularioRegistro" mat-list-item (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>add</mat-icon>
              <span>Llenar formulario</span>
          </a>
          <a routerLink="./eventos" mat-list-item (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>event</mat-icon>
            <span>Eventos</span>
         </a>
        <a routerLink="./pagos" mat-list-item (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>paid</mat-icon>
          <span>Pagar</span>
        </a>
        <a routerLink="./tabla-grupos" mat-list-item (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>view_list</mat-icon>
          <span>Lista Grupos</span>
        </a>

      </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>

      <button mat-icon-button (click)= "sidenav.toggle()" >
          <mat-icon>menu</mat-icon>
      </button>

        <div>
          <div  *ngIf="user$ | async as user; else login">

              <button mat-button  routerLink="/"  (click)="onLogouth()" *ngIf="user">
                <mat-icon>logout</mat-icon>
              </button>

              <button mat-button >
                <mat-icon>perm_identity</mat-icon>
                {{user.email}}</button>

          </div>
          <ng-template #login>


                <button mat-button routerLink="/login" >Iniciar Sesion</button>

                <button mat-button  routerLink="/register">Registrar</button>
          </ng-template>
        </div>
  </mat-toolbar>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
