<div class="card mt-5">
  <div class="card-body">
    <h3 class="card-title text-center">
      Por favor ingrese su email
    </h3>
    <div class="form-group text-center mt-2">
      <input type="email" class="form-control" [formControl]="userEmail">
    </div>
    <div class="form-group text-center mt-2">
      <button class="btn btn-primary btn-lg" (click)="onReset()">Recuperar Contraseña</button>
    </div>
  </div>
</div>
<div class="container">
  <footer  id="footer" class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">

        <div class="col-6 col-md">
          <h5>Redes sociales</h5>
          <ul  class="list-unstyled text-small">
            <li><a class="text-muted" href="https://es-la.facebook.com/kimbaralatin/">
              <img style="width: 30px; height: 30px;" src="https://cdn-icons-png.flaticon.com/128/1384/1384005.png" alt=""></a></li>
            <li><a class="text-muted" href="https://www.instagram.com/kimbaralatin/?hl=es-la">
              <img  style="width: 30px; height: 30px;" src="https://cdn-icons-png.flaticon.com/128/1400/1400829.png" alt=""></a></li>
            <li><a class="text-muted" href="https://wa.link/mlvsg8">
              <img style="width: 30px; height: 30px;"src="https://image.flaticon.com/icons/png/128/1051/1051323.png" alt=""></a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Contactos</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" ></a>Correo: hecfa69@gmail.com</li>
            <li><a class="text-muted" ></a>Teléfono: 2830250.</li>
            <li><a class="text-muted" ></a>Celular:3154207109 - 3104485366 </li>
            <li><a class="text-muted" ></a>Direccion: Calle 36 # 21-17 2do piso.</li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Servicios</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href='/galeria' >Galeria de imagenes</a></li>
            <li><a class="text-muted" href='/servicios'>Servicios</a></li>
          </ul>
        </div>

      </div>
      </footer>
</div>
