<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="width: 600px; height: 600px;" src="../assets/imagenes/imgk/carucel1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="width: 600px; height: 600px;" src="../assets/imagenes/imgk/carucel2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height: 600px; width: 600px;" src="../assets/imagenes/imgk/carucel3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<hr>
<div class="continer">
  <div class="row row-cols-2">
    <div class="col">
      <h2>Nosotros</h2>
      <h4> Somos una entidad que se dedica a generar bienestar en la ciudad de Palmira a través del ejercicio físico orientado por medio del baile. Kimbará Latín Show fue creada al percibir la necesidad de una empresa donde la comunidad tuviera un espacio para disfrutar de los beneficios que brinda el baile.


        Kimbará Latín Show, sobresale por el conocimiento que tienen sus instructores en los diferentes géneros musicales, siendo posible brindar un servicio completo y satisfactorio, además del ambiente cordial y la familiaridad que se desarrollan durante las clases.</h4>
        <button class="btn btn-primary" (click)="onClickMore()">Ver más</button>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img style="width: 500px; height: 400px;" src="../assets/imagenes/imgk/IMG-20170617-WA0022.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <img style="width: 500px; height: 400px;" src="../assets/imagenes/imgk/IMG-20191112-WA0038.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col">
      <h2>Razón de ser.</h2>
      <h4>En Kimbará Latín Show, es importante la salud emocional y
         física de nuestros alumnos, así como el generar un punto de
          encuentro donde puedan aprender, socializar y divertirse, al mismo
          tiempo que desarrollan una actividad física y habilidades artísticas,
          Por eso hemos concentrado nuestro esfuerzo en fortalecer las ventajas
           que ofrece el ejercicio a través del baile.</h4>
           <button class="btn btn-primary" (click)="onClickServicios()">Ir a servicios</button>
    </div>
    <div class="col">
          <h2>Misión. </h2>
          <h4>En Kimbará latín show,
             nuestro compromiso es lograr que
              las personas mejoren su calidad de vida
              y bienestar mediante el baile, uno de los ejercicios
              más completos en el mundo, para que con la práctica
              regular nuestros alumnos puedan cumplir con sus objetivos
               individuales desarrollando habilidades artísticas como bailarines
               profesionales.</h4>
               <button class="btn btn-primary" (click)="onClickMore()">Ver Galeria</button>
    </div>
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <img style="width: 500px; height: 400px;" src="../assets/imagenes/imgk/IMG-20180421-WA0033.jpg" alt="">
      </div>
    </div>
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <img style="width: 500px; height: 400px;" src="../assets/imagenes/imgk/IMG-20201120-WA0115.jpg" alt="">
      </div>
    </div>
    <div class="col">
      <h2>Visión.</h2>
      <h4>Ser la mejor academia de Palmira y contar con los
         mejores instructores y bailarines de nuestra región.</h4>
         <button class="btn btn-primary" (click)="onClickServicios()">Ver más</button>
    </div>
  </div>
</div>
<div class="container">
  <footer  id="footer" class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">

        <div class="col-6 col-md">
          <h5>Redes sociales</h5>
          <ul  class="list-unstyled text-small">
            <li><a class="text-muted" href="https://es-la.facebook.com/kimbaralatin/">
              <img style="width: 30px; height: 30px;" src="https://cdn-icons-png.flaticon.com/128/1384/1384005.png" alt=""></a></li>
            <li><a class="text-muted" href="https://www.instagram.com/kimbaralatin/?hl=es-la">
              <img  style="width: 30px; height: 30px;" src="https://cdn-icons-png.flaticon.com/128/1400/1400829.png" alt=""></a></li>
            <li><a class="text-muted" href="https://wa.link/mlvsg8">
              <img style="width: 30px; height: 30px;"src="https://image.flaticon.com/icons/png/128/1051/1051323.png" alt=""></a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Contactos</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" ></a>Correo: hecfa69@gmail.com</li>
            <li><a class="text-muted" ></a>Teléfono: 2830250.</li>
            <li><a class="text-muted" ></a>Celular:3154207109 - 3104485366 </li>
            <li><a class="text-muted" ></a>Direccion: Calle 36 # 21-17 2do piso.</li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Servicios</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href='/galeria' >Galeria de imagenes</a></li>
            <li><a class="text-muted" href='/servicios'>Servicios</a></li>
          </ul>
        </div>

      </div>
      </footer>
</div>
